.workCarrousel {
  display: flex;
  flex-flow: row wrap;
  width: 90%;
  height: 85%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.workCard {
  display: flex;
  min-width: 50%;
  max-width: 50%;
  min-height: 50%;
  max-height: 50%;
  justify-content: center;
  align-items: center;
  transition: transform 1s;
}

.cardContent {
  min-width: 98%;
  max-width: 98%;
  min-height: 96%;
  max-height: 96%;
  cursor: pointer;
  background-color: #1b1b1b;
  border-radius: 2rem;
  padding: 4rem;
  overflow: hidden;
  display: flex;
  flex-flow: column;
  position: relative;
  gap: 0.5rem;
}

.cardElement {
  display: flex;
  align-items: baseline;
  gap: 1rem;
}

.cardSeparator {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-bottom: solid 1px hsl(116, 54%, 78%);
}
