.workCarrousel {
  display: flex;
  flex-flow: row;
  width: 100%;
  height: 45%;
  overflow: hidden;
}

.workCard {
  display: flex;
  min-width: 50%;
  max-width: 50%;
  justify-content: center;
  align-items: center;
  transform: translateX(0%);
  transition: transform 1s;
}

.cardContent {
  min-width: 90%;
  max-width: 90%;
  min-height: 90%;
  max-height: 90%;
  cursor: pointer;
  overflow: hidden;
  background-color: #1b1b1b;
  border-radius: 1rem;
  padding: 2rem;
  overflow: hidden;
  display: flex;
}

.cardSection {
  display: flex;
  flex-flow: column;
  gap: 1rem;
}

.cardContent img {
  border-radius: 1rem;
  object-fit: cover;
  height: 50%;
  margin: 2rem;
}

.cardElement {
  display: flex;
  align-items: baseline;
  gap: 1rem;
  margin-top: 3rem;
}
