.workCarrousel {
  display: flex;
  flex-flow: row;
  width: 100%;
  height: 45%;
  overflow: hidden;
}

.workCard {
  display: flex;
  min-width: 50%;
  max-width: 50%;
  justify-content: center;
  align-items: center;
  transition: transform 1s;
}

.cardContent {
  min-width: 90%;
  max-width: 90%;
  min-height: 90%;
  max-height: 90%;
  cursor: pointer;
  overflow: hidden;
  background-color: #1b1b1b;
  border-radius: 1rem;
  padding: 2rem;
  overflow: hidden;
  display: flex;
}

.cardContent img {
  border-radius: 1rem;
  object-fit: cover;
  height: 120px;
  width: 120px;
  margin: 2rem;
}

.cardSection {
  margin: 0;
  display: flex;
  flex-flow: column;
  max-width: 100%;
}

.cardHeader {
  max-width: 70%;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.cardElement {
  display: flex;
  align-items: baseline;
  gap: 1rem;
  margin-top: 1rem;
}

.headerContainer {
  max-width: 100%;
}

.projectTitle {
  display: flex;
  flex-wrap: wrap;
  overflow-x: scroll;
}
