/* Colors */

:root {
  --background: #121212;
  --Text: hsl(108, 100%, 93%);
  --Text2: hsl(116, 54%, 78%);
  --Main-Color-1: hsl(358, 87%, 70%);
  --Main-Color-2: hsl(183, 89%, 71%);
  --Main-Color-3: hsl(286, 87%, 74%);
  --Accented-Color: hsl(232, 41%, 14%);
  --White: hsl(0, 0%, 100%);
  --Black: hsl(0, 0%, 0%);
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Nunito Sans", Helvetica, sans-serif;
  font-size: 1.6rem;
  height: 100vh;
  width: 100vw;
  background-color: var(--background);
}

/* weight 300, 400, 800 */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 800;
  color: var(--Text);
  font-size: 3.5rem;
}

p {
  font-weight: 400;
  color: var(--Text);
}

a {
  color: var(--Text);
  text-decoration: none;
}

li {
  font-weight: 800;
  color: var(--Accented-Color);
}
